# Backend server
PORT=8787
API_CACHE_TTL_MS=300000
API_CONCURRENCY=4

# Skyscanner integration
SKYSCANNER_API_KEY=replace_with_real_key
SKYSCANNER_API_BASE_URL=https://partners.api.skyscanner.net
SKYSCANNER_SEARCH_ENDPOINT=/apiservices/v3/flights/indicative/search
SKYSCANNER_API_KEY_HEADER=x-api-key
SKYSCANNER_MARKET=ES
SKYSCANNER_LOCALE=es-ES
SKYSCANNER_CURRENCY=EUR
